.holdings-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.holdings-info-container{
    width: fit-content;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.holdings-FinancialStatsChart,.holdings-lastorders{
    margin-left: 2rem;
}
.holdings-FinancialStatsChart{
    margin-top: 1rem;
}

.holdings-graph-container{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-self: center;
}