@font-face {
    font-family: Avenir;
    src: url('./Assets/Fonts/AvenirLTStd-Book.otf');
}

:root{
    /* Dark theme */

    --appColor: #000000;
    --textColor: white;
    --headerTextColor: white;
    --headerColor: #1D1D3A;
    --headerColor2: #1D1D3A;
    --dropdownBgcColor: white;
    --dropdownSubTriggerColor: #BAA7FF;
    --pageTitleBgcColor: #194AFE;
    --pageTitleBgcColor2: #194AFE;
    /* ========================================== */

    /* Light theme */

    [data-theme='light']{
        --appColor: #FDFDFD;
        --textColor: black;
        --headerTextColor: white;
        --dropdownSubTriggerColor: #BAA7FF;
        --dropdownBgcColor: #FDFDFD;
        --headerColor: #F67593;
        --headerColor2: #8E66D1;
        --pageTitleBgcColor: #F67593;
        --pageTitleBgcColor2: #8E66D1;
    }

    



}

body{
    background-color: var(--appColor);
    padding: 0;
    margin: 0;
    font-family: Avenir, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.AppRoute{
    display: flex;
    flex-direction: column;
    height: 100dvh;
    width: 100dvw;
}